@import url(/styles/fonts.css);

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  padding-top: 0;
  margin: 0;
}

.lazy {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 50%;
  padding: 0.25rem 0.5rem;
  color: #222;
  transform: translate(-50%, -50%);
  z-index: 99;
  border: none;
  background-color: burlywood;
}

#scrollToTopBtn:hover {
  background-color:#DC6946;
  transform: translate(-50%, -50%) scale(1.07);
  color: #fff;
}

.tooltip-image {
  position: relative;
}

.tooltip {
  visibility: hidden;
  background-color: #eee;
  color: black;
  text-align: center;
  border-radius: 3px;
  padding: 0 .5rem;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  margin: 0;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 0.85rem;
}

.body-image:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip-image:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.hidden {
  display: none;
}

a {
  color: blue;
  font-weight: 500;
}

a:link,
a:hover {
  text-decoration: none;
}

img {
  transition: all 0.15s ease-in-out;
}

img:hover {
  opacity: .96;
}

.text-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #f5f5f5;
}

.preview-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  background-color: #f5f5f5;
  transition: all 0.15s ease-in-out;
}

.preview-section:hover img {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}

.preview-section:hover .read-more {
  border-color: burlywood;
  border-style: solid;
  border-width: 1px;
}

.text-section.post {
  flex-direction: column;
}

.preview-section.post {
  flex-direction: column;
}

.text-section .postal {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.post-head-image {
  max-width: 100%;
  margin: 0 0 3rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.post-head-image img {
  max-width: 100%;
}

.post-head-image:hover img {
  opacity: inherit;
}

.body-image {
  border-width: 1px;
  border-style: solid;
  border-color: burlywood;
}

.text-section .body-image {
  width: 40%;
  height: auto;
  max-height: 60%;
  margin: 0 0.5rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  position: relative;
}

.text-section .body-image img {
  width: 100%;
  height: auto;
}

.preview-section .body-image {
  width: 40%;
  height: auto;
  max-height: 60%;
  margin: 0 0.5rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  position: relative;
}

.preview-section .body-image img {
  width: 100%;
  height: auto;
}

.text-box {
  flex: 1;
  margin: 0 0.5rem;
  line-height: 1.5;
  text-align: start;
}

.text-box h3 {
  margin: 1rem 0;
}

.text-box.standalone {
  background-color: #f5f5f5;
  padding: .5rem 4rem;
  margin: 0;
}

.persian-text {
  direction: rtl;
  font-family: "Sahel", sans-serif;
}

.persian-text.bold {
  font-weight: bold;
}

.persian-font {
  font-family: "Sahel", sans-serif;
}

.post-middle-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: .5rem 0;
  width: 100%;
}

.post-middle-images .tooltip-image img {
  object-fit: cover;
  margin: 1rem;
  height: 600px;
  max-height: min(100vh, 600px);
  width: auto;
}

@font-face {
  font-family: 'Sahel';
  src: url("/assets/fonts/Sahel.woff2") format('woff2'), url("/assets/fonts/Sahel.woff") format('woff');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sahel';
  src: url("/assets/fonts/Sahel-Bold.woff2") format("woff2"), url("/assets/fonts/Sahel-Bold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

.lang-bar {
  background-color: #666;
  color: white;
  margin: 0;
  padding: 5px 15px;
}

.lang-bar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn img {
  margin: 0;
}

.btn-primary,
.btn-default {
  background-color: #f8f9fa;
  color: #495057;
  padding: 0.2rem;
  font-size: .8rem;
  transition: all 0.1s ease-in-out;
}

.btn-primary:hover,
.btn-default:hover {
  background-color: #DC6946;
  color: white;
  transform: scale(1.07);
}

.btn-sm {
  padding: 0.2rem;
  font-size: 0.8rem;
}

.dropdown-menu {
  background-color: white;
  border-radius: 0;
}

.dropdown-item {
  color: #495057;
}

.dropdown-item:hover {
  background-color: #DC6946;
  color: white;
}

.dropdown-toggle::after {
  display: none;
}

.fixed-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}

.fixed-nav a {
  text-decoration: none;
}

.nav-links {
  display: inline-flex;
  align-items: center;
  list-style: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.15s ease-in-out;
  height: 100%;
  margin: 0;
  padding-right: 1rem;
  /* height: calc(var(--old-nav-height)); */
}

.nav-links a {
  color: inherit;
  padding: 0;
  transition: all 0.1s ease-in-out;
}

.nav-links li {
  padding: .75rem .5rem;
  color: black;
  margin: 0;
  height: 100%;
  vertical-align: middle;
}

.nav-links ul {
  height: 100%;
}

.nav-links li:hover {
  background-color: #DC6946;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}

.nav-logo {
  width: auto;
  height: 52px;
  padding: 0 -0.15rem 0.15rem;
  margin: 0 0.5rem;
  box-sizing: content-box;
}

.nav-logo-mobile {
  display: none;
}

footer {
  display: flex;
  flex-direction: column;
}

footer .quote {
  background-color: #DC6946;
  text-align: center;
  padding: .9rem;
  color: white;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  font-weight: 700;
  font-size: 1.25rem;
}

footer .copyright {
  background-color: #fff;
  padding: .5rem 1rem;
  font-size: .9rem;
  text-align: start;
}

footer p {
  margin: 0.1rem;
  line-height: 2;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  max-height: 90vh;
  max-width: 100%;
}

.video-container video {
  max-width: inherit;
  max-height: inherit;
}

.video-description {
  font-style: italic;
  font-weight: normal;
  text-align: center;
  margin-bottom: 1rem;
}

.icon {
  padding: 0.5rem;
  transition: all 0.15s ease-in-out;
}

.icon img {
  width: 115px;
  height: auto;
}

.section-head:hover .icon {
  transform: scale(1.07) rotate(-1deg);
}

.section-head {
  background-color: rgba(69, 185, 220, 0.4);
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  justify-content: center;
  box-shadow: inset 0 1px 5px rgb(0, 0, 0, 0.1);
  border: 1px solid burlywood;
}

.section-head h2 {
  padding: .5rem;
  margin: 0;
}

.post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  background-color: #f5f5f5;

}

.center-textbox {
  display: block;
  text-align: center;
}

.articles-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 1rem;
}

.article-card {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.article-card:hover {
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.article-image {
  width: 100%;
  max-height: 25%;
  object-fit: cover;
  background-position: top;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.article-content {
  text-align: start;
}

.article-content address {
  font-style: oblique;
}

.article-content h3 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.article-summary {
  font-size: 1rem;
  color: darkslategray;
  margin: 0.5rem 0 1rem 0;
}

.intro-section {
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 1;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
}

.intro-section.blog {
  background-image: url("/assets/images/town.jpg");
}

.intro-section.python {
  background-image: url("/assets/images/simul.jpg");
}

.intro-section.articles {
  background-image: url("/assets/images/fesem.jpg");
}

.intro-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  background-color: rgb(0, 0, 0, 0.2);
  z-index: 0;
}

.intro-content {
  color: white;
  text-shadow: 0 3px 5px rgb(0, 0, 0, 1);
  padding: 1rem;
  z-index: 2;
}

.intro-card {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: space-between;
  background-color: #DC6946;
  text-shadow: 0 1px 2px rgb(0, 0, 0, 0.2);
}

.intro-card-image {
  background-image: url(/assets/images/MyPic/mypic800.jpg);
  background-image: image-set(
    url(/assets/images/MyPic/mypic1500.webp) 3x,
    url(/assets/images/MyPic/mypic1000.webp) 2x,
    url(/assets/images/MyPic/mypic500.webp) 1x,
    url(/assets/images/MyPic/mypic800.jpg)
  );
  background-size: cover;
  background-position: top;
  height: inherit;
  width: 65%;
}

.intro-card-content {
  flex: 1;
  padding: 0 1rem;
  text-align: center;
  color: white;
  text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
  align-self: flex-end;
  margin-bottom: 3rem;
}

.read-more,
.download-button {
  background-color: white;
  display: flex;
  width: fit-content;
  max-width: 100%;
  gap: .5rem;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border: #ddd solid 1px;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
  font-size: 0.9rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.read-more:hover,
.download-button:hover {
  background-color: #DC6946;
  color: white;
  border-radius: 6px;
  font-size: 0.92rem;
  font-weight: 500;
  transform: scale(1.07);
}

.code-stuff-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.thebe-activate-button {
  color: white;
  background-color: #E97451;
  border: 0;
  padding: .5rem;
  margin: .5rem;
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
}

.thebe-status {
  border: #666;
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
}

.thebe-status-message {
  display: none;
}

.thebe-status.thebe-status-mounted {
  background-color: rgb(233, 233, 233);
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.3);
}

.code-snippets {
  width: 100%;
  margin: 1rem auto;
}

.CodeMirror {
  height: inherit;
}

.code-output {
  font-size: 1.1rem;
  font-weight: 500;
  background-color: white;
  margin: 1rem auto 0;
  padding: 0.5rem 0;
  border: burlywood;
  border-width: 1px;
  border-style: solid;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.code-output img {
  max-width: 100%;
}

pre {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  margin: .5rem;
  max-width: 100%;
}

@media (max-width: 1440px) {

  .text-section .postal {
    width: 100%;
  }

  .post-middle-images img {
    margin: .5rem;
    height: calc(60vw - 2rem);
    width: auto;
  }

}

@media (max-width: 768px) {

  .post-middle-images .tooltip-image img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: min(600px, 100vh);
    margin: 1rem 0;
  }

  .text-section .post {
    width: 100%;
  }

  .fixed-nav {
    flex-direction: column;
  }

  .nav-links {
    font-size: 3.5vw;
    background-color: burlywood;
    margin: 0;
    padding: 0.25rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: .3rem;
  }

  .nav-links a {
    padding: 0 0.5rem;
  }

  .nav-links li:hover {
    background-color: #DC6946;
    cursor: pointer;
  }

  .nav-links a:active {
    background-color: unset;
  }

  .nav-links a:hover {
    background-color: inherit;
    cursor: pointer;
  }

  .nav-logo {
    padding: 0;
    margin: 0.5rem;
  }

  .section-head h2 {
    font-size: 1.1rem;
  }

  .icon {
    width: 80px;
    height: auto;
  }

  .intro-section {
    height: 50vh;
  }

  .intro-content h1 {
    font-size: 2rem;
  }

  .intro-content h3 {
    font-size: 1.5rem;
  }

  .intro-card {
    flex-direction: column;
  }

  .intro-card-image {
    width: 100%;
  }

  .intro-card-content {
    margin-bottom: auto;
    padding: 15px 0;
    align-self: auto;
    align-items: center;
  }

  .intro-card-content h1 {
    font-size: 2rem;
  }

  .intro-card-content h3 {
    font-size: 1.5rem;
  }

  .code-snippets {
    width: 100%;
    padding: 1rem;
    font-size: 0.8rem;
  }

  .code-snippets h4 {
    font-size: 1.1rem;
  }

  .text-section {
    flex-direction: column;
    padding: 1rem;
  }

  .text-section.post .body-image {
    width: auto;
    height: 60%;
    max-height: 60%;
    margin: .5rem 0;
  }

  .text-section .body-image {
    width: 100%;
    margin: 1rem 0;
  }

  .preview-section {
    flex-direction: column;
    padding: 1rem;
  }

  .preview-section.post .body-image {
    width: auto;
    height: 60%;
    max-height: 60%;
    margin: .5rem 0;
  }

  .preview-section .body-image {
    width: 100%;
    margin: 1rem 0;
  }

  .text-box {
    width: 100%;
    margin: 1rem;
    flex: 1;
    line-height: 1.5;
    text-align: start;
  }

  .text-box.standalone {
    background-color: #f5f5f5;
    padding: .5rem 1rem;
    margin: 0;
  }

  .post-image-container {
    display: flex;
    justify-content: center;
    object-fit: cover;
    height: unset;
  }

  .post-head-image {
    max-width: 100%;
    margin: 0 0 1rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  }

  .post-container {
    padding: 1.5rem 0;
  }

}

@media (max-width: 480px) {

  .nav-links {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    padding: 0.25rem;
  }

  .nav-links li {
    padding: 0 .1rem;
  }

  .nav-links a {
    padding: 0 .2rem;
  }

  .nav-logo {
    margin: 0;
    padding: 0;
  }

  .btn-default,
  .btn-primary {
    padding: 0;
    border: 3px solid burlywood;
    background-color: burlywood;
  }

  .btn-primary img {
    border-radius: 3px;
  }

  #languageMenu {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #languageMenu span {
    display: none;
  }

  #languageMenu .fas,
  .fa-solid {
    padding: 0;
    line-height: .25;
    color: black;
  }

  #languageMenu img {
    padding: 0;
  }


  #email-button {
    padding: 0;
  }

  #email-button span {
    display: none;
    padding: 0;
  }

  .code-stuff-container {
    padding: 0;
  }

  .code-snippets {
    padding: 0;
  }

}