:root {
  --primary-color: #DC6946;
  --secondary-color: #45b9dc; 
  --text-background-color: #f5f5f5;
  --header-background-color: #666;
  --mobile-color: burlywood;
  --link-color: #004bcc;
}

@font-face {
  font-family: 'Sahel';
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/Sahel-WOL.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Sahel';
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/Sahel-SemiBold-WOL.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Sahel';
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/Sahel-Bold-WOL.woff2") format("woff2");
  font-display: swap;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1Mu51xIIzI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51S7ACc6CsQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51TzBic6CsQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.sahel-regular {
  font-family: "Sahel", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sahel-medium {
  font-family: "Sahel", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.sahel-bold {
  font-family: "Sahel", sans-serif;
  font-weight: 700;
  font-style: normal;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  padding-top: 0;
  margin: 0;
}

html:lang(fa) body {
  font-family: "Sahel", sans-serif;
  font-size: 1.1rem;
}

body:lang(fa) {
  font-family: "Sahel", sans-serif;
  line-height: 1.75;
}

body:lang(en) {
  font-family: "Roboto", sans-serif;
  line-height: 1.65;
}

body:lang(fr) {
  font-family: "Roboto", sans-serif;
  line-height: 1.65;
}

.lazy {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 50%;
  padding: 0.4rem 0.7rem;
  color: black;
  transform: translate(-50%, -50%);
  z-index: 99;
  border: none;
  font-weight: 500;
  transition: all 0.15s ease-in-out;
  background-color: #45b9dc;
  border: 1px solid #ddd;
}

#scrollToTopBtn .fa-solid {
  margin-right: .3rem;
}

#scrollToTopBtn:hover {
  background-color: #DC6946;
  transform: translate(-50%, -50%) scale(1.05);
  color: #fff;
  font-weight: 700;
}

.tooltip-image {
  position: relative;
}

.tooltip {
  visibility: hidden;
  background-color: #eee;
  color: black;
  text-align: center;
  border-radius: 3px;
  padding: 0 .5rem;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  margin: 0;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 0.85rem;
}

.body-image:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip-image:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.hidden {
  display: none;
}

a {
  color: #004bcc;
  font-weight: 500;
  transition: color 0.15s ease;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #DC6946;
}

img {
  transition: all 0.15s ease-in-out;
}

img:hover {
  opacity: .96;
}

.text-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #f5f5f5;
}

.preview-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  background-color: #f5f5f5;
  transition: all 0.15s ease-in-out;
}

.preview-section:hover img {
  box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.3);
}

.preview-section:hover .read-more {
  border-color: burlywood;
  border-style: solid;
  border-width: 1px;
}

.text-section.post {
  flex-direction: column;
}

.preview-section.post {
  flex-direction: column;
}

.text-section .postal {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.post-head-image {
  width: 100%;
  margin: 0 0 3rem;
  box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.2);
}

.post-head-image img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.post-head-image:hover img {
  opacity: inherit;
}

.body-image {
  border: 1px solid burlywood;
}

.text-section .body-image {
  width: 40%;
  height: auto;
  max-height: 60%;
  margin: 0 0.5rem;
  box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  position: relative;
}

.text-section .body-image img {
  width: 100%;
  height: auto;
}

.preview-section .body-image {
  width: 40%;
  height: auto;
  max-height: 60%;
  margin: 0 0.5rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  position: relative;
}

.preview-section .body-image img {
  width: 100%;
  height: auto;
}

.text-box {
  flex: 1;
  margin: 0 0.5rem;
  text-align: start;
  transition: all 0.3s ease-in-out;
}

.text-box h3 {
  margin: 1rem 0;
}

.text-box.standalone {
  background-color: #f5f5f5;
  padding: .5rem 4rem;
  margin: 0;
}

.persian-text {
  direction: rtl;
  font-family: "Sahel", sans-serif;
}

.persian-text.bold {
  font-weight: bold;
}

.persian-font {
  font-family: "Sahel", sans-serif;
}

.english-text {
  font-family: "Roboto", serif;
  direction: ltr;
}

.lang-bar {
  background-color: #666;
  color: white;
  margin: 0;
  padding: 5px 15px;
}

.lang-bar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#languageMenu {
  display: inline-block;
  margin-left: 0.25rem;
  padding: 0.125rem 0.35rem;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: #f5f5f5;
  color: #333;
  border: none;
  transition: all 0.15s ease-in-out;
}

#languageMenu img {
  margin-right: 0.125rem;
}

#languageMenu:hover {
  background-color: #fff;
}

#socialMedia {
  background-color: #ebebeb;
  transition: all 0.15s ease-in-out;
  display: inline-block;
}

#socialMedia:hover {
  background-color: #fff;
}

#socialMedia:focus {
  background-color: white !important;
}

.dropdown {
  font-size: 0.8rem;
  font-weight: 500;
}

.dropdown-menu {
  background-color: #fff;
  border-radius: 0;
  cursor: pointer;
}

.dropdown-item {
  color: #333;
  font-size: 1rem;
  font-weight: 500;
}

.dropdown-item:hover {
  background-color: #DC6946;
  color: white;
}

.dropdown-toggle::after {
  display: none;
}

.info-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-button {
  padding: 0.5rem;
  margin: 0 0.25rem;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: #ebebeb;
  transition: all 0.15s ease-in-out;
}

.info-button.actif {
  background-color: white;
  box-shadow: 0 3px 5px rgba(255, 255, 255, 0.75);
}

.info-button.actif span {
  font-weight: 700;
}

.info-button:active,
.info-button:focus,
.info-button:active:focus,
.info-button:focus-visible {
  background-color: #f5f5f5 !important;
}

.info-button:hover {
  background-color: #fff;
}

.info-button span,
.info-button .fa-solid {
  color: #333;
  margin: 0.2rem;
}

.heading {
  color: black;
  transition: all 0.3s ease-in-out;
}

.heading:hover .heading-anchor {
  visibility: visible;
}

.heading-anchor {
  color: #DC6946;
  visibility: hidden;
}

.admonition {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1.5rem 0;
  border-left: 3px solid blue;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1),
              2px 2px 10px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.admonition:dir(rtl) {
  border-left: unset;
  border-right: 3px solid blue;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1),
              -2px 2px 10px rgba(0, 0, 0, 0.05);
}

.admonition p {
  margin: 0.5rem 1.65rem;
}

.admonition ul {
  margin: 0.5rem 1rem;
}

.admonition .note {
  padding: 0.5rem;
  font-weight: 700;
  background-color: khaki;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.admonition .note .fa-circle-exclamation {
  color: #DC6946;
}

.admonition .insight {
  padding: 0.5rem;
  font-weight: 700;
  background-color: lightblue;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.admonition .insight .fa-solid {
  color: blue;
}

.navbar-content {
  position: sticky;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.15s ease-in-out;
  z-index: 998;
}

.navbar-content li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.25rem;
  font-size: 1.125rem;
}

.navbar-content li:hover a {
  color: white;
  background-color: #DC6946;
  border-radius: 3px;
}

.navbar-content a:focus {
  color: #DC6946;
  font-weight: 700;
}

.navbar-content a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-weight: 500;
  font-size: 1.175rem;
  padding: 0.5rem 0.75rem;
}

.navbar-content .nav-link.active {
  background-color: #45b9dc;
  color: black;
  font-weight: 700;
  border: none;
  border-radius: 3px;
}

.fixed-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}

.fixed-nav .actif {
  background-color: #45b9dc;
  color: black;
  font-weight: 700;
}

.fixed-nav a {
  text-decoration: none;
}

.nav-links {
  display: flex;
  list-style: none;
  font-size: 1.35rem;
  height: 100%;
  margin: 0 1rem;
}

.fixed-nav ul {
  padding: 0;
  margin: 0;
}

.nav-links li {
  padding: 0;
  margin: 0 0.1rem;
  height: 100%;
  width: 100%;
}

.nav-links a {
  display: flex;
  vertical-align: middle;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #333;
  font-weight: 500;
  padding: 0 0.675rem;
  transition: all 0.1s ease-in-out;
  transition: color 0.15s ease-in-out;
}

.nav-links a:hover {
  background-color: #DC6946;
  color: white;
  border-radius: 3px;
  font-weight: 700;
  cursor: pointer;
}

.nav-logo {
  width: auto;
  height: 60px;
  padding: 0.375rem 0;
  transition: all 0.15s ease-in-out;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  max-height: 90vh;
  max-width: 100%;
}

.video-container video {
  max-width: inherit;
  max-height: inherit;
}

.video-description {
  font-style: italic;
  font-weight: normal;
  text-align: center;
  margin-bottom: 1rem;
}

.icon {
  width: 100px;
  height: auto;
  padding: 0.5rem;
  transition: all 0.15s ease-in-out;
}

.section-head:hover .icon {
  transform: scale(1.07) rotate(-1deg);
}

.section-head {
  background-color: #45b9dc;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  justify-content: center;
  box-shadow: inset 0 2px 8px 0 rgba(0, 0, 0, 0.15);
}

.section-head h2 {
  padding: .5rem;
  margin: 0;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
}

.post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  background-color: #f5f5f5;

}

.center-textbox {
  display: block;
  text-align: center;
}

.articles-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 1rem;
}

.article-card {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.article-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.article-image {
  width: 100%;
  max-height: 25%;
  object-fit: cover;
  background-position: top;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.article-content {
  text-align: start;
  font-family: "Roboto", serif;
}

.article-content address {
  font-style: oblique;
}

.article-content h3 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.article-summary {
  font-size: 1rem;
  color: darkslategray;
  margin: 0.5rem 0 1rem 0;
}

.intro-section {
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 1;
  box-shadow: 1p 3px 8px rgba(0, 0, 0, 0.2);
}

.intro-section.blog {
  background-image: url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_1600/q_auto/dpr_auto/sakura.jpg);
  background-image: image-set(url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_1200/f_auto/q_auto/dpr_3.0/sakura) 3x,
      url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_1200/f_auto/q_auto/dpr_2.0/sakura) 2x,
      url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_1920/f_auto/q_auto/sakura) 1x,
      url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_1920/f_auto/q_auto/dpr_auto/sakura));
  transition: all 0.15s ease-in-out;
}

.intro-section.python {
  background-image: url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_1600/q_auto/dpr_auto/gargantua_landscape.jpg);
  background-image: image-set(url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_1200/f_auto/q_auto/dpr_3.0/gargantua_landscape) 3x,
      url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_1200/f_auto/q_auto/dpr_2.0/gargantua_landscape) 2x,
      url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_1920/f_auto/q_auto/gargantua_landscape) 1x,
      url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_1920/f_auto/q_auto/dpr_auto/gargantua_landscape));
  transition: all 0.15s ease-in-out;
}

.intro-section.articles {
  background-image: url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_1600/q_auto/dpr_auto/fesem.jpg);
  background-image: image-set(url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_1200/f_auto/q_auto/dpr_3.0/fesem) 3x,
      url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_1200/f_auto/q_auto/dpr_2.0/fesem) 2x,
      url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_1920/f_auto/q_auto/fesem) 1x,
      url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_1920/f_auto/q_auto/dpr_auto/fesem));
  transition: all 0.15s ease-in-out;
}

.intro-section.about {
  background-image: url(/assets/images/Welcome/welcome.jpg);
  background-image: image-set(url(/assets/images/Welcome/welcome.webp) 3x,
                              url(/assets/images/Welcome/welcome.webp) 2x,
                              url(/assets/images/Welcome/welcome.jpg));
  transition: all 0.15s ease-in-out;
}

.intro-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 0;
}

.intro-content {
  color: white;
  text-shadow: 1px 3px 3px rgba(0, 0, 0, 1);
  padding: 1rem;
  z-index: 2;
}

.intro-card {
  display: flex;
  height: 80vh;
  align-items: center;
  margin-bottom: 0;
  justify-content: space-between;
  background-color: #DC6946;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.intro-card-image {
  background-image: url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_1920/q_auto/dpr_auto/siavash_landscape.jpg);
  background-image: image-set(url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_1200/f_auto/q_auto/dpr_3.0/siavash_landscape) 3x,
      url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_1200/f_auto/q_auto/dpr_2.0/siavash_landscape) 2x,
      url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_1920/f_auto/q_auto/dpr_1.0/siavash_landscape) 1x,
      url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_1920/q_auto/dpr_auto/siavash_landscape.jpg));
  background-size: cover;
  background-position: top;
  transition: all 0.15s ease-in-out;
  height: inherit;
  width: 65%;
}

.intro-card-image:hover {
  opacity: 0.96;
}

.intro-card-content {
  flex: 1;
  padding: 0 1rem;
  text-align: center;
  color: white;
  text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
  align-self: flex-end;
  margin-bottom: 3rem;
}

.read-more,
.download-button {
  background-color: white;
  display: flex;
  width: fit-content;
  max-width: 100%;
  gap: .5rem;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border: #ddd solid 1px;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.read-more:hover,
.download-button:hover a {
  text-decoration: none;
}

.read-more:hover,
.download-button:hover {
  background-color: #DC6946;
  color: white;
  border-radius: 6px;
  font-size: 0.92rem;
  font-weight: 500;
  text-decoration: none;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.07);
}

.code-stuff-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
  margin: auto;
  padding: 1rem;
}

.thebe-activate-button {
  color: white;
  background-color: #E97451;
  border: 0;
  padding: .5rem;
  margin: .5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.thebe-status {
  display: inline-block;
  color: black;
  padding: 0.5rem;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid #666;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  background-color: khaki;
  transition: all 0.15s ease-in-out;
}

.thebe-status:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

.thebe-status-message {
  display: none;
}

.code-snippets {
  width: 100%;
  margin: 0.5rem auto;
}

.CodeMirror {
  height: inherit;
}

.code-output {
  font-size: 1.1rem;
  overflow: hidden;
  font-weight: 500;
  width: 80vw;
  background-color: white;
  margin: 1rem auto 0;
  padding: 0.5rem 0;
  border: 1px solid burlywood;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.code-output img {
  max-width: 100vw;
}

pre {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  margin: .5rem;
  max-width: 100%;
}

/* .jupyter-widgets.widget-label.jupyter-matplotlib-footer {
  display: none;
}

.jupyter-widgets.jupyter-matplotlib-toolbar.widget-container.widget-box.jupyter-matplotlib-toolbar-fadein-fadeout.widget-vbox {
  display: none;
}

.jupyter-widgets.widget-label.jupyter-matplotlib-header {
  display: none;
}

.lm-Widget.jp-Stdin.jp-OutputArea-output input::placeholder {
  display: none;
  font-size: 0;
}

.lm-Widget.jp-Stdin.jp-OutputArea-output input {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
} */

#mycodeuniverse-button {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.15s ease-in-out;
}

#mycodeuniverse-button:hover {
  transform: scale(1.07);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.background-gray {
  background-color: #f5f5f5;
}


.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.image-container {
  margin: 10px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
}

.semi-bold {
  font-weight: 500;
  color: black;
}

.desktop {
  display: block;
}

.touch-screen {
  display: none;
}

.publish-section {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0;
}

.avatar {
  width: 6rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3),
              0 1px 2px rgba(0, 0, 0, 0.2);
  transition: transform 0.15s ease-in-out;
  border-radius: 50%;
  /* Use border-radius: 50% for a perfect circle */
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: auto;
  display: block;
  /* Remove extra space at the bottom of the image */
}

.publish-author {
  font-size: 1.2rem;
  color: black;
  font-weight: 500;
}

.publish-author::after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background-color: #222;
  /* or any other color you prefer */
  margin-top: 1.7rem;
  /* adjust the margin to your liking */
}



/* Media Queries */

@media (min-width: 1920px) {
  body {
    max-width: 1920px;
    margin: 0 auto;
  }
}

@media (min-width: 1366px) {
  /* Screens Over 1366px */

  .image-grid {
    width: 80%;
  }

  .image-container {
    width: calc(33.333% - 20px);
  }
}

@media (max-width: 1366px) {



  .image-grid {
    width: 100%;
  }

  .image-container {
    width: calc(50% - 20px);
  }

  .text-section .postal {
    width: 100%;
  }

}



@media (max-width: 1024px) {

  .desktop {
    display: none;
  }

  .touch-screen {
    display: block;
  }

  .intro-card-image {
    background-image: url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_2000/q_auto/dpr_auto/siavash_portrait.jpg);
    background-image: image-set(url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_1024/f_auto/q_auto/dpr_3.0/siavash_portrait) 3x,
        url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_1024/f_auto/q_auto/dpr_2.0/siavash_portrait) 2x,
        url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_1024/f_auto/q_auto/dpr_1.0/siavash_portrait) 1x,
        url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_1024/q_auto/dpr_auto/siavash_portrait.jpg));
    background-size: cover;
    background-position: top;
    width: 100%;
  }

  .intro-section.python {
    background-image: url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_2000/q_auto/dpr_auto/gargantua.jpg);
    background-image: image-set(url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_1024/f_auto/q_auto/dpr_3.0/gargantua) 3x,
        url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_1024/f_auto/q_auto/dpr_2.0/gargantua) 2x,
        url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_1024/f_auto/q_auto/dpr_1.0/gargantua) 1x,
        url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_1024/q_auto/dpr_auto/gargantua));
    background-size: cover;
    background-position: top;
    width: 100%;
  }

  .intro-section {
    height: 70vh;
  }

  .intro-card {
    flex-direction: column;
  }

  .intro-card-content {
    margin-bottom: auto;
    padding: 1rem 0;
    align-self: auto;
  }

  .text-section {
    flex-direction: column;
    padding: 1rem;
  }

  .text-section.post .body-image {
    width: auto;
    height: 60%;
    max-height: 60%;
    margin: .5rem 0;
  }

  .text-section .body-image {
    width: 100%;
    margin: 1rem 0;
  }

  .preview-section {
    flex-direction: column;
    padding: 1rem;
  }

  .preview-section.post .body-image {
    width: auto;
    height: 60%;
    max-height: 60%;
    margin: .5rem 0;
  }

  .preview-section .body-image {
    width: 100%;
    margin: 1rem 0;
  }

  .text-box {
    width: 100%;
    margin: 1rem;
    flex: 1;
    text-align: start;
  }

  .text-box.standalone {
    background-color: #f5f5f5;
    padding: 0.5rem 1rem;
    margin: 0;
  }

  .code-stuff-container {
    max-width: 100%;
  }

}

/* Targeting tablets in landscape mode or devices with a short height */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .intro-card-image {
    background-image: url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_1920/q_auto/dpr_auto/siavash_landscape.jpg);
    background-image: image-set(url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_1200/f_auto/q_auto/dpr_3.0/siavash_landscape) 3x,
        url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_1200/f_auto/q_auto/dpr_2.0/siavash_landscape) 2x,
        url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_1920/f_auto/q_auto/dpr_1.0/siavash_landscape) 1x,
        url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_1920/q_auto/dpr_auto/siavash_landscape.jpg));
    background-size: cover;
    background-position: top;
    transition: all 0.15s ease-in-out;
    height: inherit;
    width: 65%;
  }

  .intro-card {
    display: flex;
    flex-direction: row;
  }

  .intro-card-content {
    margin-bottom: 3rem;
    padding: 0;
    align-self: flex-end;
  }

  .text-section .body-image {
    width: 50%;
  }

  .body-image.post {
    width: 70%;
    overflow: hidden;
  }

  .body-image img,
  .body-image.post img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

@media (max-width: 768px) {

  .image-container {
    width: calc(100% - 20px);
  }

  .navbar-content a {
    font-size: 1rem;
    padding: 0.5rem 0.35rem;
    margin: 0;
  }

  .dropdown {
    margin-left: unset;
  }



  /* .jupyter-matplotlib-canvas-div canvas {
    overflow: hidden;
    width: 588px !important;
    height: 367.5px !important;
  }

  .jupyter-widgets.jupyter-matplotlib-canvas-container {
    overflow: hidden;
    width: 588px !important;
    height: 367.5px !important;
  }

  .jupyter-widgets.jupyter-matplotlib-canvas-container div {
    overflow: hidden;
    width: 588px !important;
    height: 367.5px !important;
  }

  .jupyter-widgets.jupyter-matplotlib-canvas-container div canvas {
    overflow: hidden;
    width: 588px !important;
    height: 367.5px !important;
  } */

  #scrollToTopBtn:hover {
    background-color: #45b9dc;
    transform: translate(-50%, -50%);
    color: black;
  }

  #scrollToTopBtn:active {
    background-color: #45b9dc;
    transform: translate(-50%, -50%) scale(1.07);
    font-weight: 700;
    color: white;
  }

  .text-section .post {
    width: 100%;
  }

  .nav-logo {
    margin: 0;
    padding: 0.35rem 0;
  }

  .nav-links {
    margin: 0;
    padding: 0;
  }

  .nav-links a {
    display: flex;
    vertical-align: middle;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: unset;
  }

  .fixed-nav {
    justify-content: space-around;
    padding: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.95);
  }

  .section-head h2 {
    font-size: 1.75rem;
  }

  .icon {
    width: 80px;
    height: auto;
  }

  .intro-content h1 {
    font-size: 2rem;
  }

  .intro-content h3 {
    font-size: 1.5rem;
  }

  .intro-card-image {
    background-image: url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_1500/q_auto/dpr_auto/siavash_portrait.jpg);
    background-image: image-set(url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_800/f_auto/q_auto/dpr_3.0/siavash_portrait) 3x,
        url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_800/f_auto/q_auto/dpr_2.0/siavash_portrait) 2x,
        url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_800/f_auto/q_auto/dpr_1.0/siavash_portrait) 1x,
        url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_800/q_auto/dpr_auto/siavash_portrait.jpg));
    background-size: cover;
    background-position: top;
    width: 100%;
  }

  .intro-section.python {
    background-image: url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_1600/q_auto/dpr_auto/gargantua.jpg);
    background-image: image-set(url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_800/f_auto/q_auto/dpr_3.0/gargantua) 3x,
        url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_800/f_auto/q_auto/dpr_2.0/gargantua) 2x,
        url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_800/f_auto/q_auto/dpr_1.0/gargantua) 1x,
        url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_800/q_auto/dpr_auto/gargantua));
    background-size: cover;
    background-position: top;
    width: 100%;
  }

  .intro-card-content {
    margin-bottom: auto;
    padding: 1rem 0;
    align-self: auto;
  }

  .intro-card-content h1 {
    font-size: 2rem;
  }

  .intro-card-content h2 {
    font-size: 1.75rem;
  }

  .code-snippets {
    width: 100%;
    padding: 0;
  }

  .code-snippets h4 {
    font-size: 1.1rem;
  }



  .post-image-container {
    display: flex;
    justify-content: center;
    object-fit: cover;
    height: unset;
  }

  .post-head-image {
    max-width: 100%;
    margin: 0 0 1rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  }

  .post-container {
    padding: 1.5rem 0;
  }

}

@media (max-width: 600px) {

  /* .jupyter-matplotlib-canvas-div canvas {
    overflow: hidden;
    width: 432px !important;
    height: 270px !important;
  }

  .jupyter-widgets.jupyter-matplotlib-canvas-container {
    overflow: hidden;
    width: 432px !important;
    height: 270px !important;
  }

  .jupyter-widgets.jupyter-matplotlib-canvas-container div {
    overflow: hidden;
    width: 432px !important;
    height: 270px !important;
  }

  .jupyter-widgets.jupyter-matplotlib-canvas-container div canvas {
    overflow: hidden;
    width: 432px !important;
    height: 270px !important;
  } */

  #scrollToTopBtn {
    background-color: burlywood;
  }

  #scrollToTopBtn:hover {
    background-color: burlywood;
    transform: translate(-50%, -50%);
    color: black;
  }

  #scrollToTopBtn:active {
    transform: translate(-50%, -50%) scale(1.07);
    font-weight: 700;
    color: white;
  }

  .section-head {
    margin-top: 0;
  }

  .navbar-content {
    display: none;
  }

  .fixed-nav {
    justify-content: space-around;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.95);
  }

  .fixed-nav .actif {
    color: white;
    font-weight: 700;
    background-color: #DC6946;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .nav-links {
    font-size: 1.4rem;
    background-color: burlywood;
    margin: 0;
    padding: 0;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .nav-links li {
    margin: 0;
  }

  .fixed-nav ul {
    padding: 0;
    height: 100%;
    gap: 0.2rem;
  }

  .nav-links a {
    padding: 0.125rem 0.5rem;
    font-weight: 500;
    width: 100%;
    height: 100%;
  }

  .nav-links a:hover {
    color: white;
    background-color: #DC6946;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .nav-links a:active {
    color: white;
    background-color: burlywood;
  }

  .lang-bar-content {
    justify-content: space-between;
    align-items: center;
  }

  .dropdown .fa-globe {
    display: none;
  }

  #lang-text {
    display: none;
  }

  .info-section {
    align-items: baseline;
  }

  .info-button {
    padding: 0.25rem;
    margin: 0.125rem 0.125rem;
    line-height: 0.1;
    font-size: 0.75rem;
  }

}

@media (max-width: 480px) {

  .intro-section {
    height: 50vh;
  }

  .intro-card-image {
    background-image: url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_1000/q_auto/dpr_auto/siavash_portrait.jpg);
    background-image: image-set(url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_500/f_auto/q_auto/dpr_3.0/siavash_portrait) 3x,
        url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_500/f_auto/q_auto/dpr_2.0/siavash_portrait) 2x,
        url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_500/f_auto/q_auto/dpr_1.0/siavash_portrait) 1x,
        url(https://res.cloudinary.com/dwzzs6eba/image/upload/c_limit,w_500/q_auto/dpr_auto/siavash_portrait.jpg));
    background-size: cover;
    background-position: top;
    width: 100%;
  }

  /* .jupyter-matplotlib-canvas-div canvas {
    overflow: hidden;
    width: 350px !important;
    height: 218.75px !important;
  }

  .jupyter-widgets.jupyter-matplotlib-canvas-container {
    overflow: hidden;
    width: 350px !important;
    height: 218.75px !important;
  }

  .jupyter-widgets.jupyter-matplotlib-canvas-container div {
    overflow: hidden;
    width: 350px !important;
    height: 218.75px !important;
  }

  .jupyter-widgets.jupyter-matplotlib-canvas-container div canvas {
    overflow: hidden;
    width: 350px !important;
    height: 218.75px !important;
  } */

  .intro-card-content h1 {
    font-size: 1.85rem;
    max-width: 85vw;
    margin: 0 auto 0.625rem;
  }

  .intro-card-content h2 {
    font-size: 1.65rem;
    max-width: 85vw;
    margin: 0 auto;
  }

  .section-head {
    border-bottom: 2px solid burlywood;
    border-top: 2px solid burlywood;
  }

  .section-head h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .nav-links {
    font-size: 1.175rem;
    padding: 0.2rem;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .nav-links a {
    padding: 0.125rem 0.5rem;
    font-weight: 500;
  }

  .nav-links a:hover {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .nav-logo {
    margin: 0;
    padding: 0.25rem 0;
    height: 60px;
  }

  .fixed-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.95);
  }

  #socialMedia:active,
  #socialMedia:hover,
  #socialMedia:focus,
  #socialMedia:active:focus,
  #socialMedia:focus-visible {
    background-color: transparent !important;
  }

  #socialMedia {
    padding: 0;
    margin: 0 0.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  }

  #socialMedia .fa-caret-down {
    line-height: 0.75;
    margin-bottom: 0;
    font-size: 0.625rem;
    color: white;
  }

  .info-section {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }

  .info-button {
    padding: 0.3rem 0.125rem;
    margin: 0 0.125rem;
    line-height: 0.1;
    font-size: 1.75rem;
    background-color: transparent;
    transition: all 0.15s ease-in-out;
  }

  .info-button:active,
  .info-button:hover,
  .info-button:focus,
  .info-button:active:focus,
  .info-button:focus-visible {
    background-color: unset !important;
  }

  .info-button.actif {
    background-color: transparent;
    box-shadow: 0 2px 0 burlywood;
  }

  .info-button.actif span {
    font-weight: 700;
  }

  .info-button a {
    display: flex;
    flex-direction: column;
  }

  .info-button .fa-solid {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: burlywood;
  }

  .info-button span {
    font-size: 0.75rem;
    color: white;
    font-weight: 500;
  }

  .code-stuff-container {
    padding: 0;
  }

  .code-snippets {
    padding: 0;
  }

}

@media (max-width: 380px) {

  #languageMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0;
    background-color: transparent;
  }

  #languageMenu span {
    padding: 0.5rem 0;
    margin: 0;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1px;
  }

  #languageMenu img {
    padding: 0;
    margin: 0;
  }

  #languageMenu .fa-caret-down {
    line-height: 0.5;
    font-size: 0.625rem;
  }

  #languageMenu:hover {
    background-color: transparent;
  }

  .dropdown .fa-globe {
    display: none;
  }

}

@media (max-width: 320px) {

  .info-button span {
    font-size: 0.625rem;
  }

  #languageMenu span {
    padding: 0.5rem 0;
    margin: 0;
    font-size: 0.625rem;
    font-weight: 500;
    line-height: 1px;
  }

  .fixed-nav ul {
    padding: 0;
    height: 100%;
    gap: 0;
  }

}

/* Target mobile devices in landscape mode */
@media (max-height: 480px) and (min-width: 480px) {
  .intro-card {
    height: 150vh;
  }

  .intro-card-content {
    align-self: center;
  }

  .fixed-nav {
    height: 48px;
  }

  .nav-links {
    font-size: 1.15rem;
    font-weight: 700;
  }

  .nav-logo {
    height: 52px;
    width: auto;
  }

  .navbar-content {
    top: 48px;
  }

  .navbar-content a {
    font-size: 1rem;
    font-weight: 700;
  }

}